{% extends 'base_visitor.html' %}

{% block extra_head %}
<style>
.carousel-inner > .item > img {
    margin: 0 auto;
}
</style>
{% endblock %}
{% load static %}
{% block body %}
    <div class="container-fluid">

        <div class="row">
		                <div class="panel panel-default">
                    
                        <div class="panel-heading">
							Welcome to <strong>Indian Institute of Technology,Varanasi</strong> 
					</div>
				</div>
            <div id="myCarousel" class="carousel slide" data-ride="carousel" >

  
			
                <div class="panel panel-default">
                    <div class="panel-heading">
	                               The University will seek not merely to turn out men as engineers, but also as a amen of high character, probity and honour, whose conduct htrough life will show they bear the hall-mark of a great University.
                            </div>
                        <div class="panel-body">

                        </div>
					</div>
				
				<div class="panel panel-info">
	                        <div class="panel-heading">
	                               Our Mission
                            </div>
	                        <div class="panel-body">
  
                             </div>
                </div>

				

                    

     </div>


    </div>

 {% endblock %}
