{% extends 'base.html' %}

{% block extra_head %}
<style>
.carousel-inner > .item > img {
    margin: 0 auto;
}
</style>
{% endblock %}
{% load static %}
{% block body %}
    <div class="container-fluid">

        <div class="row">
		      <div>         
                            
                       </div>
				
            <div id="myCarousel" class="carousel slide" data-ride="carousel" >

  
			
                <div class="panel panel-default">
                    <div class="panel-heading">
                     <img style="width:100%;" src="{%  static 'logo.png' %}"/>
	                               <p style="margin-top:40px;font-size:20px;font-family: 'Noto Sans JP', sans-serif;"> Welcome to <strong>Indian Institute of Technology,Varanasi</strong> <br>The University will seek not merely to turn out men as engineers, but also as a men of high character, probity and honour, whose conduct through life will show they bear the hall-mark of a great University. A teaching university would but half perform its function if it does not seek to develop the heart-power of its scholars with the same solicitude with which it develops their brain-power. Hence it is that the proposed university has placed formation of character in youth as one of its principal objects.<br>
<strong>Mahamana Pt. Madan Mohan Malaviya Ji -- The Founder</strong></p>

                            </div>
                        <div class="panel-body">

                        </div>
					</div>
				
				<div class="panel panel-info">
	                        <div class="panel-heading">
	                               <h1 style="font-family: 'Noto Sans JP', sans-serif;padding-bottom:10px;">Gallery</h1>
                            </div>
	                        <div class="panel-body">
 
                                <img style="float:left;max-height:475px;margin-left:20px;margin-top:20px" src="{%  static 'bhu4.webp' %}"/>
                                <img style="float:right;margin-right:20px;margin-top:40px;" src="{%  static 'bhu.jpg' %}"/>
                             </div>
                </div>

				

                    

     </div>


    </div>

 {% endblock %}
