{% extends 'base.html' %}

{% block extra_head %}
<style>
.carousel-inner > .item > img {
    margin: 0 auto;
}
</style>
{% endblock %}
{% load static %}
{% block body %}
    <div class="container-fluid">

        <div class="row">
		                <div class="panel panel-default">
                    
                        <div class="panel-heading">
							Welcome to <strong>Indian Institute of Technology,Varanasi</strong>
					</div>
				</div>
  
 <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
			
                <div class="panel panel-default">
                    <div class="panel-heading">
	                           <p>    The University will seek not merely to turn out men as engineers, but also as a amen of high character, probity and honour, whose conduct htrough life will show they bear the hall-mark of a great University. A teaching university would but half perform its function if it does not seek to develop the heart-power of its scholars with the same solicitude with which it develops their brain-power. Hence it is that the proposed university has placed formation of character in youth as one of its principal objects.<br>
<strong>Mahamana Pt. Madan Mohan Malaviya Ji -- The Founder</strong></p>


                            </div>
                        <div class="panel-body">

                        </div>
					</div>
				
				<div class="panel panel-info">
	                        <div class="panel-heading">
	                               Our Mission
                            </div>
	                        <div class="panel-body">
  
                             </div>
                </div>

				

                    

     </div>


    </div>

 {% endblock %}
